.tempMail__container{
    padding: 1rem;
    background-color: #15171b;
    border-radius: 20px;
    background-color: var(--rs-input-bg);
    margin-top: 1rem;
}

.tempMail__headerContainer {
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 5px;
}

.tempMail_modalTitle {
    display: grid;
    grid-auto-flow: column;

    h3{
        text-align: end;
    }
}

.tempMail__modalBackBtn{
    cursor: pointer;
    margin-bottom: 1rem;

    svg {
        transform: translate(0px, 4px);
        margin-right: 0.5rem;
    }
}

.tempMail_modalBody {
    label {
        display: block;
        padding-bottom: 0.5rem;
    }
}

.tempMail__modalButtonContainer{
    display: grid;
    grid-auto-flow: column;
    margin-top: 2rem;

    .tempMail__btnActive {
        border-bottom: 5px solid;
        border-radius: 0;
        color: white;
    }
}

.tempMail__modalFooterContainer{
    button {
        width: 100%;
    }
}

.tempMail__errorMessage{
    margin-top: 1rem;
    color: red;
    svg {
        transform: translate(0px, 4px);
        margin-right: 0.5rem;
    }

}

.tempMail__loginError {
    float: left;
    margin-bottom: 1rem;
    margin-top: 0;
}