.tempMail__container {
  padding: 1rem;
  background-color: #15171b;
  border-radius: 20px;
  background-color: var(--rs-input-bg);
  margin-top: 1rem;
  height: 100%;
}

.tempMail__headerContainer {
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: column;

  .tempMail__headerStorage {
    font-variant: small-caps;
  }

  .rs-progress-line {
    padding: 0;
  }

  .rs-progress-line-inner {
    background: #afd4e1;
  }
}

.tempMail__headerTitle {
  display: inline-flex;
  .tempMail__headerAddress {
    display: flex;
    font-size: 0.75rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
    color: var(--rs-gray-200);
    @media (prefers-color-scheme: light) {
      color: var(--rs-gray-700);
    }

    svg {
      margin-left: 0.25rem;
      transform: translate(0px, 3px);
    }
  }

  .tempMail__headerAddress:hover {
    color: var(--rs-btn-default-active-bg);
  }
}

.tempMail__headerReveal,
.tempMail__messageHeader {
  display: grid;
  grid-auto-flow: column;
}

.tempMail__mailViewControls {
  justify-self: end;
}

.tempMail__messageContainer {
  font-family: 'Avenir Next';
  padding: 0.75rem 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 31%;
  grid-gap: 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.tempMail__messageSenderContainer {
  padding: 0.75rem 1rem;
  background-color: var(--rs-body);
  margin-bottom: 1rem;
}

.tempMail__messageSenderName {
  font-size: 1.25rem;
  font-weight: bold;
}

.tempMail__messageSenderAddress {
  font-size: 0.75rem;
  color: var(--rs-gray-200);
  @media (prefers-color-scheme: light) {
    color: var(--rs-gray-700);
  }
}

.tempMail__messageSenderDate {
  float: right;
}

.tempMail__messageBody {
  white-space: pre-wrap;
}

.tempMail__messageContents {
  height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tempMail__messageDate {
  justify-self: end;
}

.tempMail__messageUnRead {
  background: var(--rs-menuitem-active-bg);

  .tempMail__messageSubject,
  .tempMail__messageDate,
  .tempMail__messageSender {
    font-weight: 600;
  }
}

.tempMail__messageRead {
  background: var(--rs-list-border);
  color: var(--rs-gray-200);
  @media (prefers-color-scheme: light) {
    color: var(--rs-gray-700);
  }
}

.tempMail__attachments {
  display: flex;
  grid-gap: 1rem;
  overflow: scroll;
  margin-top: 1rem;
}

.tempMail__attachmentContainer {
  width: 12rem;
  overflow: hidden;
  background-color: var(--rs-input-bg);
  padding: 0.75rem;
  border-radius: 5px;

  img {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border-radius: 5px;
  }
}

.tempMail__attachmentDownloadContainer {
  display: grid;
  grid-auto-flow: column;
  margin-top: 1rem;
  color: var(--rs-text-primary);

  a {
    color: var(--rs-text-primary);
  }

  a:hover {
    color: var(--rs-btn-default-active-bg);
  }
}

.tempMail__attachmentFileName {
  color: var(--rs-text-primary);
  height: 1.25rem;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tempMail_modalTitle {
  display: grid;
  grid-auto-flow: column;

  h3,
  p {
    text-align: end;
  }

  p {
    font-variant: all-petite-caps;
    color: var(--rs-gray-200);
    @media (prefers-color-scheme: light) {
      color: var(--rs-gray-700);
    }
  }
}

.tempMail__modalBackBtn {
  cursor: pointer;
  margin-bottom: 1rem;

  svg {
    transform: translate(0px, 4px);
    margin-right: 0.5rem;
  }
}

.tempMail_modalBody {
  label {
    display: block;
    padding-bottom: 0.5rem;
  }
}

.tempMail__modalButtonContainer {
  display: grid;
  grid-auto-flow: column;
  margin-top: 2rem;

  .tempMail__btnActive {
    border-bottom: 5px solid;
    border-radius: 0;
    color: var(--rs-text-primary);
  }
}

.tempMail__modalFooterContainer {
  button {
    width: 100%;
  }
}

.tempMail__errorMessage {
  margin-top: 1rem;
  color: red;
  svg {
    transform: translate(0px, 4px);
    margin-right: 0.5rem;
  }
}

.tempMail__loginError {
  float: left;
  margin-bottom: 1rem;
  margin-top: 0;
}
