.movie__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.5%;
    grid-row-gap: 1.5rem;
}

.movie__overflowWrapper{
    height: 50rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movies__gridContainer{
    padding: 2rem 0rem;

    button {
        background-color:#15171b;
    }
}

.movie__itemContainer {
    cursor: pointer;
    border-radius: 0.313rem;
    padding-bottom: 1rem;
    @media (prefers-color-scheme: dark) {
        background-color: #15171b;
      }
      
      @media (prefers-color-scheme: light) {
        background-color: #a5adc0;
      }
}

.movie__posterImage {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 7/10;
}

.movie__itemInfo {
    font-size: 0.75rem;
    font-variant: all-petite-caps;
    padding: 0.5rem 0.75rem 0rem 0.75rem;

    @media (prefers-color-scheme: dark) {
        color: #a5adc0;
      }
      
      @media (prefers-color-scheme: light) {
        color: #30353f;
      }
}

.movie__voteAverageStar{
    color: yellow;

    svg {
        transform: translate(0px, 2px);
    }
}

.movie__itemTitle {
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: 'Avenir Next';
    height: 3.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.movie__releaseDate {
    justify-self: end;
    float: right;
}

.movie__voteAverageRating{
    margin-left: 0.15rem;
}

.movies__heading{
    padding: 1rem 0rem;
    width: 100%;
}

.movies__buttonContainer{
    float: right;
    transform: translate(-0.5rem, 3.25rem);

    button {
        margin-left: 1rem;
        width: 7rem;
    }

    .rs-btn-toolbar{
        display: flex;
        position: absolute;
        right: 16rem;
    }

    .movies__paginationBtn{
        width: 2.5rem;
        padding: 0.25rem 0.2rem;
        background-color: crimson;
    }

    .movies__pageNumber{
        background-color: #30353f;
        padding: 1rem;
        border-radius: 5px;
    }
}

.movies__selectedType{
    color: yellow !important;
    border: 1px solid yellow !important;
}

.movies__unSelectedType{
    color: white !important;
    border: 1px solid white !important;
}

.recommendations__container{
    position: absolute;
    top: 61rem;
    left: 7rem;
    width: 84%;
}