.screenRecorder__container {
    width: 100%;
    padding: 3rem;
    position: absolute;
}

.screenRecorder__pickSourceContainer {
    padding-top: 2rem;
}

.screenRecorder__imagePreview  {
    width: 5rem;
    float: right;
}

.screenRecorder__imagePreviewContainer {
    display: flow-root;
    cursor: pointer;
}

.screenRecorder__modalButtonGroup{
    padding-top: 1rem;
}

.screenRecorder__button {
    width: 6rem;
}

.screenRecorder__startBtn {
    margin-right: 1rem;
}

.screenRecorder__videoPlayer {
    max-width: 50rem;
    max-height: 30rem;
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.5); 
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.5);
}

.screenRecorder__videoContainer {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.screenRecorder__recordingControls {
    text-align: center;
}