.sports__container{
    padding: 2rem 0rem;
}

.sports__type {
    font-size: 1.75rem;
}

.sports__matchName{
    font-size: 1.25rem;
    font-variant: all-petite-caps;
}

.sports__stadiumName{
    font-variant: all-petite-caps;
}

.sports__matchContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.sports__matchRow{
    padding: 1.225rem;
}


.sports__matchRowBorder{
    border-radius: 20px;
    padding: 1.25rem;
    
    @media (prefers-color-scheme: dark) {
        background-color: #464e5b;
      }
      
      @media (prefers-color-scheme: light) {
        background-color: #ffff;
      }
}

.sports__matchRow:first-child {
    border-radius: 20px 20px 0px 0px;
}

.sports__matchRow:last-child {
    border-radius: 0px 0px 20px 20px;
}


.sports__matchRow:nth-of-type(even) {

    @media (prefers-color-scheme: dark) {
        background-color: #30353f;
      }
      
      @media (prefers-color-scheme: light) {
        background-color: #f2eeee;
      }
}


.sports__matchRow:nth-of-type(odd) {

    @media (prefers-color-scheme: dark) {
        background-color: #464e5b;
      }
      
      @media (prefers-color-scheme: light) {
        background-color: #ffff;
      }
}



.sports__matchTournament {
    display: block !important;
    font-variant: all-small-caps;
    font-size: 0.75rem;

    @media (prefers-color-scheme: dark) {
        color: #f2eeee;
      }
      
      @media (prefers-color-scheme: light) {
        color: #30353f;
      }
}

.sports__matchTime {
    float: right;
    color: #76BC87;
}

.sports__matchLIVE {
    color: #ce3b54;
}